.login-container {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 32px;
    align-items: center;
}

.main-title {
    padding: 0;
    margin-bottom: 20px;
}

.input-form {
    width: 300px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: var(--text-color);
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus, .input-group input:hover {
    border-color: var(--accent-color);
    box-shadow: 0 0 5px var(--accent-color);
}

.btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.signup-link {
    margin-top: 15px;
    color: var(--text-color);
}

.signup-link a {
    color: var(--accent-color);
}

.signup-link a:hover {
    text-decoration: underline;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
}

.login-imgs {
    text-align: center;
    background-color: var(--text-color);
    color: var(--secondary-color);
    padding-left: 20px;
    padding-bottom: 10px;
}

.reason-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}

.reason-item {
    text-align: center;
    display: flex;
    gap: 24px;
    align-items: center;
}

.reason-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.reason-item h3 {
    color: var(--accent-color);
}

.reason-item p {
    font-family: var(--text-font-family);
    width: 90%;
}

.footer-dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-dark .contact-list-link {
    color: var(--secondary-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}

/* Mobily (do 768px) */
@media (max-width: 768px) {
    .login-container {
        grid-template-columns: 1fr;
    }
    .login-imgs {
        display: none;
    }
    .login-container{
        padding-left: 20px;
        padding-top: 25%;
        padding-bottom: 25%;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {}