.profile-main {
    background-color: var(--secondary-color);
}
.profile-section {
    padding: 0 30px;
    padding-top: 30px;
}

.secondary-title {
    margin-bottom: 0px;
}

#user-info {
    display: flex;
    gap: 40px;
}

.progress-table {
    margin-bottom: 30px;
    border-spacing: 0;
}

.progress-table th {
    padding: 0 4px;
    border-right: 1px solid var(--primary-color);
}

.progress-table td {
    text-align: right;
    padding-right: 4px;
    border-right: 1px solid var(--primary-color);
}

.calendar-section {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding-bottom: 30px;
}

.calendar {
    margin: 0 auto;
    border-radius: 5px;
    padding: 16px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-grid {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.calendar-grid th {
    background-color: var(--primary-color);
    color: #fff;
}

.calendar-grid th,
.calendar-grid td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.calendar-grid td {
    background-color: #fff;
    height: 80px;
}

.calendar-grid td.active {
    background-color: #cce5ff;
    font-weight: bold;
}

.calendar-header button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.calendar-header button:hover {
    background-color: var(--primary-dark);
}

.calendar-grid td:empty {
    background-color: var(--secondary-color);
}

.resources-section {
    padding-bottom: 30px;
}

.text-link {
    margin-top: 15px;
    color: var(--text-color);
}

.resources-list li {
    display: flex;
    gap: 6px;
}

.link {
    margin-top: 15px;
    color: var(--accent-color);
}

.link:hover {
    text-decoration: underline;
}

.footer-dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-dark .contact-list-link {
    color: var(--secondary-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}


@media (max-width: 768px) {

    .calendar-grid th,
    .calendar-grid td {
        padding: 8px;
        font-size: 12px;
    }

    .calendar-header button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .calendar-grid {
        font-size: 12px;
    }

    .calendar-header h3 {
        font-size: 16px;
    }
}