:root {
    --accent-color: #FF7F11;
    --primary-color: #333333;
    --text-color: #494848;
    --secondary-color: #f0f0f0;
    --main-font-family: "Anta",
        sans-serif;
    --accent-font-family: "Audiowide",
        serif;
    --text-font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: var(--primary-color);
}

.img {
    border-radius: 8px;
}

.header {
    background-color: var(--primary-color);
    font-size: 18px;
}

.menu-list-link {
    color: var(--accent-color);
}

.menu-list-link:hover,
.menu-list-link:focus {
    padding: 4px;
    border-radius: 16px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.login-link {
    padding: 6px;
    border-radius: 16px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.login-link:hover,
.login-link:focus {
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.logo {
    margin-top: 5px;
}

.logo-svg .logo-path {
    fill: transparent;
    transition: fill 0.3s ease;
}

.logo:hover .logo-path {
    fill: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

.main-title {
    font-family: var(--accent-font-family);
}

.main-text {
    text-align: center;
}

.hero-section {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/imgs/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

.our-description-section {
    background-color: var(--secondary-color);
}

.courses-section {
    height: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.list-courses {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 14px;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.button-detail {
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-color);
    padding: 6px;
    border-radius: 16px;
    color: var(--accent-color);
    margin-left: 30px;
}

.button-detail:hover,
.button-detail:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.blog-section {
    height: auto;
    background-color: var(--secondary-color);
}

.connect-div {
    display: flex;
    justify-content: center;
    gap: 124px;
}

.footer {
    background-color: var(--secondary-color);
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}

/* Mobily (do 768px) */
@media (max-width: 768px) {

    .sign-login-links {
        margin: 4px 0;
        display: flex;
        flex-direction: column;
    }

    .main-title {
        padding-top: 0;
        font-size: 24px;
        margin: 0 20px;
        text-align: center;
    }

    .main-text {
        margin: 20px 20px 0 20px;
    }

    .main-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        text-align: center;
    }

    .our-description-section {
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .button-detail {
        margin-left: 0;
    }

    .courses-section h2 {
        margin-left: 20px;
    }

    .courses-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .list-description {
        margin-right: 8px;
    }

   .list-courses {
        margin-left: 0;
    }

    .blog-list {
        margin-right: 8px;
    }

    .blog-section {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .connect-div {
        flex-direction: column;
        gap: 30px;
    }

    .img {
        max-width: 100%;
    }

    .footer {
        padding: 20px 20px;
    }

    .location-div {
        display: none;
    }

    .footer-text {
        font-size: 12px;
        margin-top: 12px;
    }
}

@media (max-width: 800px) {
    body {
            font-size: 18px;
        }
    
    .menu {
        display: flex;
        align-items: center;
        margin-left: 20px;
        gap: 22px
    }
    
    .menu-list {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 200px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .menu-list.active {
        display: flex;
    }

    .burger-menu {
        display: block;
        order: 1;
        margin-left: auto;
        margin-right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
        
    .burger-menu svg {
        transition: transform 0.3s ease-in-out;
    }
        
    .burger-menu.active svg {
        transform: rotate(90deg);
    }
        
    .login-link {
        text-align: center;
        padding: 0 2px;
    }
        
    .menu-list-link:hover,
    .menu-list-link:focus {
        text-align: center;
        padding: 0 2px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .sign-login-links {
        display: block;
        margin-left: 40px;
    }

    .login-link {
        margin-right: 20px;
        padding: 4px 10px;
    }

    .menu-list-link:hover,
    .menu-list-link:focus {
        padding: 4px 10px;
    }
}


@media (min-width: 800px) {
    .header {
            font-size: 24px;
        }

    .menu {
        display: flex;
        margin-left: 60px;
        align-items: center;
    }
    
    .menu-list {
        margin-left: 40px;
        display: flex;
        gap: 18px;
    }
    
    .burger-menu {
        display: none;
    }
    
    .menu-list-link:hover,
    .menu-list-link:focus {
        padding: 12px;
        border-radius: 16px;
        color: var(--primary-color);
        background-color: var(--accent-color);
    }
    
    .login-link {
        padding: 12px;
        border-radius: 16px;
        color: var(--primary-color);
        background-color: var(--accent-color);
    }
        
    .login-link:hover,
    .login-link:focus {
        border-width: 2px;
        border-style: solid;
        border-color: var(--accent-color);
        color: var(--accent-color);
        background-color: var(--primary-color);
    }
        
    .sign-link {
        margin-left: 14px;
    }
}

@media (min-width: 768px) {

    .main-title {
        padding-top: 80px;
        font-size: 32px;
        word-spacing: 2px;
    }

    .main-text {
        margin-top: 20px;
        font-size: 26px;
        width: 980px;
    }

    .main-buttons {
        font-size: 24px;
        margin-top: 60px;
    }

    .main-buttons .button:last-child {
        margin-left: 24px;
    }

    .our-description-section {
        height: 430px;
        padding-top: 40px;
        padding-left: 40px;
    }

    .courses-section {
        padding-top: 30px;
        padding-left: 40px;
        padding-top: 30px;
    }

    .list-courses {
        row-gap: 34px;
        margin-left: 40px;
    }

    .button-detail {
        margin-left: 30px;
    }

    .blog-section {
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .blog-list {
        width: 80%;
    }

    .connect-div {
        gap: 124px;
    }

    .footer {
        padding: 20px 60px;
    }
}

/* Tablety (768px až 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .menu {
        display: flex;
        margin-left: 40px;
        align-items: center;
    }
}

@media (min-width: 1025px) {
}

.section {
    padding: 20px 40px;
    background-color: var(--secondary-color);
}

.button {
    padding: 6px;
    border-radius: 16px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.button:hover, .button:focus {
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.secondary-title {
    font-size: 28px;
    margin-bottom: 12px;
}

.text {
    color: var(--text-color);
}

.list-description {
    color: var(--text-color);
    margin-top: 12px;
    list-style: inherit;
    margin-left: 30px;
    margin-bottom: 30px;
}

.title-dark {
    color: var(--accent-color);
}

.list-courses-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 350px;
    background-color: var(--text-color);
    border-radius: 12px;
}

.list-courses-title {
    margin-top: 5px;
}

.list-courses-text {
    text-align: center;
    width: 320px;
    font-size: 18px;
    font-family: var(--text-font-family);
}

.list-courses-img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-link {
    display: flex;
    justify-content: center;
}

.blog-list-text {
    margin-bottom: 6px;
}

.blog-list-link {
    color: var(--accent-color);
}

.blog-list-link:hover, .blog-list-link:focus {
    padding: 4px;
    border-radius: 16px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.blog-list-text {
    font-family: var(--text-font-family);
}

.connect-section {
    height: auto;
    background-color: var(--primary-color);
    padding: 40px 20px;
    color: var(--secondary-color);
}

.connect-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-contact-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-list {
    margin-top: 5px;
}

.contact-list-link {
    color: var(--primary-color);
    transition: color 0.3s;
    margin-bottom: 10px;
}

.contact-list-link:hover, .contact-list-link:focus {
    color: var(--accent-color);
}

.location {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.social-list {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-list-link:hover,.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-link svg {
    fill: var(--primary-color);
}


